@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@300&display=swap');

header {
display: flex;
justify-content: space-around;

}
#logo{
    width: 268px;
    height: 33px;

}
.main-menu{
    display: flex;
    list-style: none;
    position: relative;
    float: right;
    font-size: .9375rem;
    font-weight: 400;
    
    
   
}
.item{
    margin-right: 20px;
    color:#ababab;  
}
a{ text-decoration: none;}
.about{
    color: #00b39b;
}
.list{
    display: none;
    list-style: none;
    color:#ababab;
    position: absolute;
    min-width: 220px;
    margin-left: -50px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1;
}
.dep:hover .list{ display: block;

}
.item:hover{
    color: #00b39b;
}
.child:hover{
    color: #00b39b;
    background-color: #e3e1e1;
}

.child{
    padding: 12px 16px;
    margin-left: -40px;
    
   
}
.lead{
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin: 2.5em 0;
    line-height: 1.75;
    
}
.icon{
    width: 40px;
    height: 39px;
    margin-bottom: 10px;
}
.lead h1 {margin:10px;
    font-size: 2.125rem;
    color: #00b39b ;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    font size: 34px ;
}
.para { display: flex;
  margin: auto;
  width: 1015px;
  color: #747474; }
.para p { padding: 10px;
  font-size: 12pt; 
  line-height: 1.75;
}


    


    

